name: Build And Test on EC2

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, reopened, synchronize]
    branches: [ "main" ]
  workflow_dispatch:

# As per Checkov CKV2_GHA_1
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build
      run: xcodebuild -scheme xcodeinstall -destination "platform=macOS" | /opt/homebrew/bin/xcbeautify
      # disabled until the libswiftCompatibilitySpan.dylib issue is solved (with swift 6.2.1, Xcode 26.1)
      # https://github.com/swiftlang/swift/issues/84379
      # https://github.com/swiftlang/swift-package-manager/issues/9163
      # run: swift build -c release

  test:
    if: false
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Run tests
      run: xcodebuild test -scheme xcodeinstall -destination 'platform=macOS,arch=arm64' | /opt/homebrew/bin/xcbeautify
      # disabled until the libswiftCompatibilitySpan.dylib issue is solved (with swift 6.2.1, Xcode 26.1)
      # https://github.com/swiftlang/swift/issues/84379
      # https://github.com/swiftlang/swift-package-manager/issues/9163
      # run: swift test
