name: Build And Test on GitHub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

# env:
#   DEVELOPER_DIR: /Applications/Xcode_15.1.app/Contents/Developer

jobs:

  build:
    # disabled because libunxip doesn't compile on Linux
    if: false 
    runs-on: ubuntu-latest
    container: swift:6.2-noble

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build
      run: |
        apt-get update -y 
        apt-get install liblzma-dev
        swift build -c release

  # disabled until this project compiles on Linux
  test:
    if: false 
    runs-on: ubuntu-latest
    container: swift:6.2-noble

    steps:
    - uses: actions/checkout@v6
    - name: Run tests
      run: |
        apt-get update -y 
        apt-get install liblzma-dev
        swift test